@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 243, 255);
  /* background: url(./background.jpg); */
  width: 100vw;
  min-height: 100vh; /* Ensures full viewport height */
}

.app-title {
  font-size: 20px; 
  font-weight: bold;
  text-align: center;
  width: 100vw; /* Takes up the full viewport width */
  margin: 0;    /* Removes any margins */
  padding: 0; 
  margin-bottom: 20px; /* Space between the title and the content */
  color: #333; /* Adjust the color */
  background-color: white;
  font-family: "Open Sans", sans-serif; /* Or any font you're using */
}

.weather-display-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Minimum width of 200px */
  grid-template-rows: repeat(2, minmax(200px, auto)); /* Adjusts based on content */
  column-gap: 100px;
  row-gap: 60px;
  /* gap: 100px;  */
  padding: 20px; /* Optional padding */
}

.wrapper {
  padding: 25px;
  border: 0.1px solid rgb(96, 96, 96); 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: rgba(235, 233, 233, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  direction: rtl;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  margin: 0; 
}

.text {
  margin: 5px;
  color: #2e2e2e;
  font-family: "Open Sans", sans-serif;
}

.weather-desc {
  font-weight: bold;
  font-size: 20px;
}

.location-title {
  font-weight: bold;
  font-size: 26px;
}

.weather-icon {
  margin-left: 10px; /* Adds space between the text and the icon */
  font-size: 24px; /* Adjust the icon size if needed */
}


.location-wrapper {
  display: flex;
  align-items: center; /* Vertically centers the icon with the text */
  justify-content: space-between; /* Distributes space between the text and the icon */
  margin-bottom: 10px; /* Adds space below the location and icon */
}